html { 
		background: url('../background.jpg') no-repeat center fixed;
        background-size: cover;
		background-color: #4d4d4d;
    }
html, body {
    min-width: 1075px;
	height: 100%;
}    
/*remove line under link*/ 
a.nounderline:link  
{  
 text-decoration:none!important;  
}  
    
body {
    font-family: 'Montserrat';
    line-height: 1.0;
    color: white;
}

* {
  box-sizing: border-box;
  }
  
.gw2a-items-embed{
margin: 5px;
}
 
.containers{
position: relative;
top: 50px;
}
.container{
min-width:900px;
}			
.tab_content { 
padding: 10px;

}

.tabs {
	margin-left: -40px;
}

/* Style the tab buttons */
.tablink {
    background-color: #333333;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 24px;
    width: 50%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 80px;
	height: 100%;
    text-align: center;
}

/* Style each tab content individually */
#StandardStaff {background-color:#3b8ebe;}
#PickBuild {background-color:#e85080;}

aside {
    float: left;
    max-width: 50%;
    margin: 0;
    padding: 2em;
    overflow: hidden;
}

.center {
    margin: auto;
    text-align: center;
	width: 66%;
    padding: 10px;
}