.footer-all {
  width: 100%;
  position: relative;
  background-color: #1F1F1F; 
  padding: 0rem;
  text-align: center;
  line-height: 1;
}
.footer-logo {
width: 128px;
height: 100px;
position: absolute;
margin-top: -8.5em;
/*margin-bottom: -3em;*/
background: url('../images/izE6pMV.png');  
}
.conten-title
{
padding-bottom:15px;
}
html { 
		background: url('../background/background_grey_builds.jpg');   /*THIS IS THE BACKGROUND*/
        background-color: #1F1F1F;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
html, body {
    min-width: 1075px;
}    
/*remove line under link*/ 
a.nounderline:link  
{  
 text-decoration:none!important;  
}  
    
body {
    font-family: 'Montserrat';
    line-height: 1.0;
    color: white;
}


* {
  box-sizing: border-box;
  }
  
.gw2a-items-embed{
margin: 5px;
}
 
.containers{
position: relative;
top: 50px;
}
.container{
min-width:900px;
}			
.tab_content { 
padding: 10px;

}


/* ________________________________TABS BOT START_________________________________________________ */
.tabs{	
margin-left:-40px;
}
.tabs li {	
list-style:none;
display: inline;
text-decoration:none;

}
 
.tabs a {
margin-left : 0.2em;
padding: 15px 15px;
display:inline-block;
font-size:14px;
font-weight:500;
color:white;
transition:all linear 0.15s;
text-decoration:none;
/*border: 1px solid black;*/
width: 12em;
    z-index: 999;
}

.tabs a.active {
padding: 15px 15px!important;
color: white;
/*border: 1px solid black;*/

top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.tabs a:hover{
box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
color:black;
}
 
 
 
 
 
 .tabs a: {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.tabs a:hover, .tabs a:focus, .tabs a:active {
  background-color: #9539C4;
 
}

 
.tabs a{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.tabs a:before {
  content: '';
  position: absolute;

  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.tabs a:hover:before, .tabs a:focus:before, .tabs a:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}
		
/*_____________________________TABS BOT____________________________________/
 
 
 /*second row of tabs*/



 /* <_______________TABS END_______________> */
.tab_content_content{
box-shadow:6px 10px 12px rgba(0,0,0,0.3);
background-color: #1f1f1f;
min-height:auto;
width: 900px;
margin-left: auto;
margin-right: auto;
margin-top:auto;
margin-bottom:6em;
color: white;
opacity: 0.95;
overflow:hidden;

	}
/* THIS IS GUIDE */	
.tab_content_content_content{
box-shadow:6px 10px 12px rgba(0,0,0,0.3);
background-color: #1f1f1f;
width: 900px;
margin-left: auto;
margin-right: auto;
margin-top:auto;
margin-bottom:6em;
color: white;
opacity: 0.95;
overflow:hidden;
}
.tab_content_content_content_content{
width: 8em;
}	
/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 24px;
    width: 50%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 80px;
	height: 100%;
    text-align: center;
}

/* Style each tab content individually */
#StandardStaff {background-color:#3b8ebe;}
#PickBuild {background-color:#e85080;}

/* <_______________Article & Nav_______________> */
aside {
    float: left;
    max-width: 50%;
    margin: 0;
    padding: 2em;
    overflow: hidden;
}

.content-title
{
text-align:center;
padding-top:2em;


    padding-bottom:1em;
}



article {
    margin-left: 50%;
    padding: 2em;
    overflow: hidden;
} 



/*CLASS HEADER, TITLE AND ICON*/
.banner {  
    width: 700px;
    height: 318px;
    padding: 220px;
    border: 1px solid transparent;
    box-sizing: border-box;   
    margin-left: auto;
    margin-right: auto;
   /* margin-top: 0.4em;*/
    margin-bottom: -3em;
    font-weight: bold;
    font-size: 500%;
    color: white;
    text-align: right;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #262626;
}

.accordion dd,
.accordion__panel {
   background-color:#313131;

}

/* <_______________TGDM's misfortunate adventure_______________> */

.center {
    margin: auto;
    text-align: center;
	width: 80%;
    padding: 10px;
}